# Core libraries
tensorflow
onnx>=1.12.0  # ONNX library
tf2onnx>=1.16.1  # TensorFlow to ONNX converter
onnxruntime>=1.12.0  # ONNX Runtime for inference

# Additional dependencies
numpy>=1.20.0
pillow>=9.0.0  # For image processing
matplotlib>=3.5.0  # For visualization
scipy
